body {
    font-family: Arial;
    background: #f2f4f8;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 180px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

nav {
    text-align: center;
}

nav a {
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}
